{% extends "projectboard/base.html" %}
{% block title %}
{% if projectname %}
Create Project: {{ projectname }}
{% else %}
Create Project
{% endif %}
{% endblock %}
{% block heading %}
{% if projectname %}
Create Project: {{ projectname }}
{% else %}
Create Project
{% endif %}
{% endblock %}
{% block welcome %} Create a Project! {% endblock %}
{% block currentLink1 %}{% endblock %}
{% block currentLink2 %}{% endblock %}
{% block currentLink3 %}currentLink{% endblock %}
{% block content %}
<div class="card">
    <div class="cardtext">
        <div class="container" style="margin-top: 40px; text-align: center;">
            <h2> {% if projectname %}
                Create Project: {{ projectname }}
                {% else %}
                Create Project
                {% endif %}</h2>
            <p>You are creating a new project.</p>
        </div>
    </div>
</div>
{% endblock %}