{% extends "projectboard/base.html" %}
{% block title %} Home {% endblock %}
{% block heading %} SprintBoard {% endblock %}
{% block welcome %} Welcome to SprintBoard! {% endblock %}
{% block currentLink1 %}{% endblock %}
{% block currentLink2 %}currentLink{% endblock %}
{% block currentLink3 %}{% endblock %}
{% block content %}
<div class="card">
    <div class="cardtext">
        <div class="container flexsides" style="margin-top: 40px; text-align: center;">
            <div>
                <h2>Recent Projects</h2>
                <p></p>
                {% if projects %}
                <ul style="
                    padding-left: 0px;
                    ">
                    {% for project in projects %}
                    <div class="issuecard">
                        <h5>{{ project.title }}</h5>
                        <h6>{{ project.description }}</h6>
                        <h6>Last Updated: {{project.creation_time|date}} at {{project.creation_time|time:"H:i" }}</h6>
                    </div>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No SprintBoard Projects available.</p>
                {% endif %}
            </div>
            <div>
                <h2>Recent Issues</h2>
                <p></p>
                {% if issues %}
                <ul style="
                    padding-left: 0px;
                    ">
                    {% for issue in issues %}
                    <div class="issuecard">
                        <h5>{{ issue.title }}</h5>
                        <h6>{{ issue.description }}</h6>
                        <h6>Project: {{issue.project_number}}</h6>
                        <h6>Current Status: {{issue.issue_status}}</h6>
                        <h6>Last Updated: {{issue.creation_time|date}} at {{issue.creation_time|time:"H:i" }}</h6>
                    </div>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No SprintBoard Issues available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}