{% extends "projectboard/base.html" %}
{% block title %} Project Creation {% endblock %}
{% block heading %} Project Creation {% endblock %}
{% block welcome %} Welcome to SprintBoard! {% endblock %}
{% block currentLink1 %}{% endblock %}
{% block currentLink2 %}{% endblock %}
{% block currentLink3 %}currentLink{% endblock %}
{% block content %}
<div class="card">
    <div class="cardtext">
        <div class="container" style="margin-top: 40px; text-align: center;">
            <h2>Project Creation</h2>
            <p></p>
            <p>These are all of the projects which currently exist.</p>
            <p>Click <a href="/create">here</a> to create a new project.</p>
        </div>
    </div>
</div>
{% endblock %}